
.button {
    color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    position: relative;
    background-color: rgb(170, 216, 102);
    width: 220px;
    height: 50px;
    align-items: center;
    border-radius: 8px;
    margin-top: 12px;
    font-weight: bold;
    font-size: 18px;
}